#story button {
	background-color: var(--button-bg-color);
	border-color: var(--bd-color);
	width: 100%;
}

#story button:hover {
	background-color: var(--button-hover-bg-color);
	border-color: var(--bd-hover-color);
}